.activities {
  height: 95%;
  margin-top: 1.5%;
  -moz-box-shadow: 0 0 10px #ccc;
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
  .card-title {
    margin-bottom: 0px;
  }
  .spacing {
    padding: 10px;
  }
  .filters {
    margin-top: 15px;
    .btn {
      padding: 3px 10px;
      text-align: start;
    }
    h3 {
      font-size: $card-medium;
      white-space: nowrap;
    }
    .green {
      color: white;
      background-color: #2e7d32;
    }
    .blue {
      color: white;
      background-color: #1976d2;
    }
    .red {
      color: white;
      background-color: #c62828;
    }
    .black {
      color: white;
      background-color: #424242;
    }
    .orange {
      color: white;
      background-color: #f9a825;
    }
  }
}
