//Main colors
$base-color: #0d385a;
$primary-color: #424242;
$secondary-color: #fafafa;
$box-shadow-color: #333;

//Font sizes
$card-title: 18px;
$card-subtitle: 16px;
$card-medium: 13px;
$card-small: 12px;